doctype html
html
  head
    title look at my title
    meta(charset='utf-8')
    link(rel='stylesheet', href='assets/css/main.css')
    script(src='assets/js/jquery-2.2.3.min.js')
    script(src='assets/js/functions.js')
    
  body
    include _includes/header
    include _includes/about
    include _includes/work
    include _includes/clients
    include _includes/contact
    include _includes/form
    include _includes/footer
  
