- var title = "Taj Atassi"
- var kicker = "Web Developer"
- var blurb = '<strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

//- Client Group
//- Client 1
- var clientOneName = "Manuel Neuer"
- var clientOneTitle = "#1. FC Bayern Munchen. Goalkeeper"
- var clientOneDesc = "<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
- var clientOneImgPath = 'assets/img/clients/face-aaroni.jpg'
- var clientOneLogoPath = '/assets/img/clients/logo1.png'


//- Client 2
- var clientTwoName = "Manuel Neuer"
- var clientTwoTitle = "#1. FC Bayern Munchen. Goalkeeper"
- var clientTwoDesc = "<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
- var clientTwoImgPath = 'assets/img/clients/face-aaroni.jpg'
- var clientTwoLogoPath = '/assets/img/clients/logo2.png'

//- Client 3
- var clientThreeName = "Manuel Neuer"
- var clientThreeTitle = "#1. FC Bayern Munchen. Goalkeeper"
- var clientThreeDesc = "<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
- var clientThreeImgPath = 'assets/img/clients/face-aaroni.jpg'
- var clientThreeLogoPath = '/assets/img/clients/logo3.png'


//- Client 4
- var clientFourName = "Manuel Neuer"
- var clientFourTitle = "#1. FC Bayern Munchen. Goalkeeper"
- var clientFourDesc = "<strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
- var clientFourImgPath = 'assets/img/clients/face-aaroni.jpg'
- var clientFourLogoPath = '/assets/img/clients/logo4.png'
  
- var email = "tajatassi@me.com"
