//About Section
section
  h3#about-me About Myself
  
  .face-lockup
    .face-image
    
    .icon-pencil
      include icons/icon-pencil.html
    .icon-mouse
      include icons/icon-mouse.html
    .icon-browser
      include icons/icon-browser.html
    .icon-video
      include icons/icon-video.html
    
  .blurb  
    p!= blurb
    
  .skill-lockup   
    .skill-unit
      .skill-label Communication
      .skill-icons.skill-7
        - for (var i = 0; i < 10; i++)
            span
        

    .skill-unit
      .skill-label Organization
      .skill-icons.skill-11
        - for (var i = 0; i < 10; i++)
            span
    .skill-unit
      .skill-label Learning
      .skill-icons.skill-9
        - for (var i = 0; i < 10; i++)
            span

    .skill-unit
      .skill-label Teaching
      .skill-icons.skill-10
        - for (var i = 0; i < 10; i++)
            span
        
    .skill-unit
      .skill-label Planning
      .skill-icons.skill-7
        - for (var i = 0; i < 10; i++)
            span

    .skill-unit
      .skill-label Visual Design
      .skill-icons.skill-6
        - for (var i = 0; i < 10; i++)
            span
        
        
    .skill-unit
      .skill-label UX Design
      .skill-icons.skill-6
        - for (var i = 0; i < 10; i++)
            span

    .skill-unit
      .skill-label Programming
      .skill-icons.skill-7
        - for (var i = 0; i < 10; i++)
            span
