//Clients Section
section.section-clients
  h3#clients Clients
  
  .clients-mobile-nav
    each val in[1,2,3,4]
      span
  
  .clients-belt
    .client-unit
      .client-face
        img(src='assets/img/clients/face-aaroni.jpg', alt='Client-Face')
        strong.client-name Manuel Neuer 1
        em.client-title #1. FC Bayern Munchen. Goalkeeper.

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p. 
          <strong> Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    

    .client-unit
      .client-face
        img(src='assets/img/clients/face-aaroni.jpg', alt='Client-Face')
        strong.client-name Manuel Neuer 2
        em.client-title #1. FC Bayern Munchen. Goalkeeper.

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p. 
          <strong> Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
    
    .client-unit
      .client-face
        img(src='assets/img/clients/face-aaroni.jpg', alt='Client-Face')
        strong.client-name Manuel Neuer 3
        em.client-title #1. FC Bayern Munchen. Goalkeeper.

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p. 
          <strong> Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    

    .client-unit
      .client-face
        img(src='assets/img/clients/face-aaroni.jpg', alt='Client-Face')
        strong.client-name Manuel Neuer 4
        em.client-title #1. FC Bayern Munchen. Goalkeeper.

      .client-content
        .client-quote-mark
          include icons/icon-quote-mark.html
        p. 
          <strong> Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    



  .client-controls
    .client-control-next
      include icons/icon-next.html
    .client-control-prev
      include icons/icon-prev.html
  .clients-logos
    .client-logo
      img(src='/assets/img/clients/logo1.png')
    .client-logo
      img(src='/assets/img/clients/logo2.png')
    .client-logo
      img(src='/assets/img/clients/logo3.png')
    .client-logo
      img(src='/assets/img/clients/logo4.png')
 
