section.alt-section.section-contact
  h3#contact Contact
  
  .social-links
    a(href='http://facebook.com/tajatassi', target='blank') 
      include icons/social/icon-facebook.html
    a(href='https://plus.google.com/111578457685238055496/posts', target='blank') 
      include icons/social/icon-gplus.html
    a(href='https://reddit.com/u/taj_atassi', target='blank') 
      include icons/social/icon-reddit.html
    a(href='https://github.com/tajatassi', target='blank')
      include icons/social/icon-github.html
    a(href='https://twitter.com/tajatassi', target='blank')
      include icons/social/icon-twitter.html
    
  hr.bar
    
  a(class='biglink', href="mailto:tajatassi@me.com") tajatassi@me.com
