section.alt-section.section-contact
  h3#contact Contact
  
  .social-links
    a(href='http://facebook.com/tajatassi', target='blank') 
      i.fa.fa-facebook
    a(href='https://plus.google.com/111578457685238055496/posts', target='blank') 
      i.fa.fa-google-plus
    //- a(href='https://reddit.com/u/taj_atassi', target='blank') 
    //-   i.fa.fa-reddit-alien
    a(href='https://github.com/tajatassi', target='blank')
      i.fa.fa-github
    a(href='https://twitter.com/tajatassi', target='blank')
      i.fa.fa-twitter
    
  hr.bar
    
  a(class='biglink', href="mailto:tajatassi@me.com") tajatassi@me.com
