//Footer
footer#footer
  .lockup
    .logo
      include icons/logo.html
    
    .content-wrap
      nav
        a(href='#about-me') About Me 
        a(href='#work') Work 
        a(href='#clients') Clients 
        a(href='#contact') Contact Me
        
      p.copyright All Content Copyright 2016
