//Header
header
  .logo
    include icons/logo.html
  nav
    a(href='#about-me') About Me 
    a(href='#work') Work 
    a(href='#clients') Clients 
    a(href='#contact') Contact Me

  h1 
    span Taj Atassi
  p.kicker Programmer // Filmmaker // Technician
