//Work section
section.alt-section.section-work
  h3#work Work
  
  .work-belt
    .thumb-wrap
      .thumb-container
        a.thumb-unit(data-folder='proj-1')
          img(src='../assets/img/work/proj-1/thumb.jpg')
          .thumb-overlay
            strong Typo International Design Talks
            .zoom-icon
            
            
        a.thumb-unit(data-folder='proj-2')
          img(src='../assets/img/work/proj-2/thumb.jpg')
          .thumb-overlay
            strong City-In Design Talks
            .zoom-icon
            
        a.thumb-unit(data-folder='proj-3')
          img(src='../assets/img/work/proj-3/thumb.jpg')
          .thumb-overlay
            strong Crispy Icons
            .zoom-icon
            
            
        a.thumb-unit(data-folder='proj-4')
          img(src='../assets/img/work/proj-4/thumb.jpg')
          .thumb-overlay
            strong Flat Mobile UI/UX Concept
            .zoom-icon
        
        a.thumb-unit(data-folder='proj-5')
          img(src='../assets/img/work/proj-5/thumb.jpg')
          .thumb-overlay 
            strong Fresh it Up
            .zoom-icon

        a.thumb-unit(data-folder='proj-6')
          img(src='../assets/img/work/proj-6/thumb.jpg')
          .thumb-overlay
            strong Timeline Page
            .zoom-icon
            
        a.thumb-unit(data-folder='proj-7')
          img(src='../assets/img/work/proj-7/thumb.jpg')
          .thumb-overlay
            strong Weather Dashboard
            .zoom-icon
            
        a.thumb-unit(data-folder='proj-8')
          img(src='../assets/img/work/proj-8/thumb.jpg')
          .thumb-overlay
            strong Stripes & Co
            .zoom-icon


    .work-wrap
      .work-container
        .work-return
          include icons/icon-back.html
        
        h4.project-title Typo International Design Talks
        .project-load
            
